In [21]:
def check_palindrome(word):
 if a==a[::-1]:
  print('palindrome')
 else:
  print(f'{a}is not a palindrome')
    return word

IndentationError: unexpected indent (2738386966.py, line 6)

In [3]:
check_palindrome('dhruv')

'dhruv'

In [7]:
a='lucky'
a[::-1]

'ykcul'

In [10]:
if a==a[::-1]:
 print('palindrome')
else:
 print(f'{a}is not a palindrome')

luckyis not a palindrome

In [31]:
def check_palindrome(word):
 if type(word)==str: 
    word = word.upper()
    
    
    if word == word[::-1]:
        return word + " is a palindrome"
    else:
        return word + " is not a palindrome"
 else:
     return'invalid data type'
print(check_palindrome("radar"))
print(check_palindrome(123))  
print(check_palindrome("hello"))

RADAR is a palindrome
invalid data type
HELLO is not a palindrome

In [25]:
check_palindrome('dhruv')

'DHRUV is not a palindrome'

In [38]:
def give_fibo(n):
    fibo=[0,1]
    for i in range(n-2):
        last_num=fibo[-1]
        second_last_num=fibo[-2]
        next_num=last_num +second_last_num
        fibo.append(next_num)
    return fibo
give_fibo(5)

[0, 1, 1, 2, 3]

In [47]:
def check_prime(number):
    for i in range(2,number):
        if number % i==0:
            return 'not a prime no.'
            break
    else:
        return 'prime'
check_prime(3)

'prime'

In [50]:
n=5.0
print('hello'*int(n))

hellohellohellohellohello

n=5
for i in range(n):
print(n)

In [57]:
n=5 
for i in range(1,n+1): 
    print(i*'* ')

*
* *
* * *
* * * *
* * * * *

In [68]:
n=5 
for i in range(1,n+1): 
    print(' '*(n-i)+i*'* ')

    *
   * *
  * * *
 * * * *
* * * * *

In [86]:
def print_star(n=5,typ='left',shape='*'): 
    if typ=='left':
        space=''
    if typ=='right':
        space='  '
    if typ=='center':
        space=' '
    for i in range(1,n+1): 
        print(space*(n-i)+i*f'{shape} ')
print_star(5,'right','#')

        #
      # #
    # # #
  # # # #
# # # # #

In [90]:
 def sum_of_n_natural_num(n):
     result=0
     for i in range(1,n+1):
         result+=i
     return result
sum_of_n_natural_num(10)

55

In [5]:
def factorial(n):
    result=1
    for i in range(1,n+1):
        result*=i
    return result
factorial(10)

3628800

In [13]:
def total_sales(*args):
    #unpacking
    result=0
    for i in args:
        result+=i
     return result
   
total_sales(1,2,3,44)

50

In [35]:
sales = [223, 445, 33, 444, 54, 2]  
min_element = sales[0]            

for i in sales[1:]:                
    if i < min_element:            
        min_element = i           
print(min_element)

2

In [36]:
sales = [223, 445, 33, 444, 54, 2]  
max_element = sales[0]            

for i in sales[1:]:                
    if i > max_element:            
        max_element = i           
print(min_element)

445

In [43]:
def minn(data):


    min_ele = data[0]
    for i in data[1:]:
        if i > min_ele:
            min_ele = i
    return min_ele


print(minn([223, 445, 33, 444, 54, 2]))

445

In [47]:
company=['ola','uber','amazon']
def add_hastag(*company):
    result=[]
    for i in company:
        result.append('#'+i.upper())
    return result
add_hastag(*company)

['#OLA', '#UBER', '#AMAZON']

In [57]:
def store_records(name,age,sec,roll_no,Class):
    data={'Name':name,'Age':age,'Sec':sec,'Roll_no':roll_no,'Class':Class}
    import pandas as pd
    result=pd.DataFrame(data,index=[1])
    return result
display(store_records('karan',20,'A',12,12))
display(store_records('karan',20,'A',12,12))
display(store_records('karan',20,'A',12,12))

    Name  Age Sec  Roll_no  Class
1  karan   20   A       12     12

    Name  Age Sec  Roll_no  Class
1  karan   20   A       12     12

    Name  Age Sec  Roll_no  Class
1  karan   20   A       12     12

In [61]:
def student_record(**kwargs):
    print(kwargs)
    keys=list(kwargs)
  if type(keys[0])==str:
    
    import pandas as pd
    result=pd.DataFrame(kwargs,index=[1])
    return result
  else
     result=pd.DataFrame(kwargs)
    return result 
student_record(name='dhruv',age=20,sec='m1',rollno=12,address='delhi')

    name  age sec  rollno address
1  dhruv   20  m1      12   delhi